{
    "linters": {
      "config-ts/**/*{.ts,.tsx}": "tslint --fix",
      "gulp-ts/**/*{.ts,.tsx}": "tslint --fix",
      "webpack-ts/*.ts": "tslint --fix",
      "src/**/*{.ts,.tsx}": "tslint --fix",
      "src/**/*.scss": "stylelint --fix"
    },
    "ignore": ["**/dist/*.{ts,tsx}"]
}