<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ loadSpritePath }}/{{ spriteCssName }}">
</head>
<body style="margin: 0">

<div id="react"></div>

{% for src in scripts %}
    <script type="text/javascript" src="{{ src }}"></script>
{% endfor %}
</body>
</html>